<ng-container [formGroup]="form">
    <div>
        <span class="text-xl mr-4">Départ le :</span>
        <mat-form-field appearance="fill">
            <mat-label>JJ/MM/AAAA</mat-label>
            <input matInput formControlName="start" [min]="minDepartureDate" [matDatepicker]="pickerDeparture"
                (dateInput)="onDepartureDateChange($event)">
            <mat-datepicker-toggle matIconSuffix [for]="pickerDeparture"></mat-datepicker-toggle>
            <mat-datepicker #pickerDeparture></mat-datepicker>
        </mat-form-field>
        <span class="text-xl mx-4">De</span>
        <app-search-city-input [control]="form.controls['departureCity']"></app-search-city-input>
        <!-- <mat-error *ngIf="form.controls['departureCity'].invalid" class="text-red">
            Veuillez sélectionner une ville.
        </mat-error> -->
    </div>
    <div>
        <span class="text-xl mr-4">Arrivée le :</span>
        <mat-form-field appearance="fill">
            <mat-label>JJ/MM/AAAA</mat-label>
            <input matInput formControlName="end" [min]="form.controls['start'].value || minDepartureDate"
                [matDatepicker]="pickerArrival">
            <mat-datepicker-toggle matIconSuffix [for]="pickerArrival"></mat-datepicker-toggle>
            <mat-datepicker #pickerArrival></mat-datepicker>
        </mat-form-field>
        <span class="text-xl mx-4">À</span>
        <app-search-city-input [control]="form.controls['arrivalCity']"></app-search-city-input>
    </div>
</ng-container>