<!-- DESKTOP VIEW -->
<div class="hidden md:block">
    <ng-container [formGroup]="form">
        <div class="mt-4">
            <app-search-city-input [control]="form.controls['departureCity']" [isDeparture]="true" class="mx-4">
            </app-search-city-input>
            <mat-form-field appearance="outline" class="w-44">
                <mat-label class="text-sm">Date départ</mat-label>
                <input matInput formControlName="start" [min]="minDepartureDate" [matDatepicker]="pickerDeparture"
                    (dateInput)="onDepartureDateChange($event)" (focus)="pickerDeparture.open()">
                <mat-datepicker-toggle matIconSuffix [for]="pickerDeparture"></mat-datepicker-toggle>
                <mat-datepicker #pickerDeparture></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <app-search-city-input [control]="form.controls['arrivalCity']" [isDeparture]="false" class="mx-4">
            </app-search-city-input>
            <mat-form-field appearance="outline" class="w-44">
                <mat-label class="text-sm">Date arrivée</mat-label>
                <input matInput formControlName="end" [min]="form.controls['start'].value || minDepartureDate"
                    [matDatepicker]="pickerArrival" (focus)="pickerArrival.open()">
                <mat-datepicker-toggle matIconSuffix [for]="pickerArrival"></mat-datepicker-toggle>
                <mat-datepicker #pickerArrival></mat-datepicker>
            </mat-form-field>
        </div>
    </ng-container>
</div>

<!-- MOBILE VIEW -->
<div class="md:hidden mobile-view">
    <ng-container [formGroup]="form">
        <div>
            <app-search-city-input [control]="form.controls['departureCity']" [isDeparture]="true" class="mx-4">
            </app-search-city-input>
            <app-search-city-input [control]="form.controls['arrivalCity']" [isDeparture]="false" class="mx-4">
            </app-search-city-input>
        </div>
        <div class="space-x-2">
            <mat-form-field appearance="outline" class="w-44">
                <mat-label class="font-bold text-quinary">Date départ</mat-label>
                <input matInput formControlName="start" [min]="minDepartureDate" [matDatepicker]="pickerDepartureMobile"
                    (dateInput)="onDepartureDateChange($event)" (focus)="pickerDepartureMobile.open()">
                <mat-datepicker-toggle matIconSuffix [for]="pickerDepartureMobile"></mat-datepicker-toggle>
                <mat-datepicker #pickerDepartureMobile></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-44">
                <mat-label class="font-bold text-quinary">Date arrivée</mat-label>
                <input matInput formControlName="end" [min]="form.controls['start'].value || minDepartureDate"
                    [matDatepicker]="pickerArrivalMobile" (focus)="pickerArrivalMobile.open()">
                <mat-datepicker-toggle matIconSuffix [for]="pickerArrivalMobile"></mat-datepicker-toggle>
                <mat-datepicker #pickerArrivalMobile></mat-datepicker>
            </mat-form-field>
        </div>
    </ng-container>
</div>