<ng-container [formGroup]="form">
    <div class="mt-4">
        <app-search-city-input [control]="form.controls['departureCity']" [isDeparture]="true" class="mx-4"></app-search-city-input>
        <mat-form-field appearance="fill" class="w-44">
            <mat-label class="text-sm">Quand partir ?</mat-label>
            <input matInput formControlName="start" [min]="minDepartureDate" [matDatepicker]="pickerDeparture"
                (dateInput)="onDepartureDateChange($event)">
            <mat-datepicker-toggle matIconSuffix [for]="pickerDeparture"></mat-datepicker-toggle>
            <mat-datepicker #pickerDeparture></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <app-search-city-input [control]="form.controls['arrivalCity']" [isDeparture]="false" class="mx-4"></app-search-city-input>
        <mat-form-field appearance="fill" class="w-44">
            <mat-label class="text-sm">Arrivée le ?</mat-label>
            <input matInput formControlName="end" [min]="form.controls['start'].value || minDepartureDate"
                [matDatepicker]="pickerArrival">
            <mat-datepicker-toggle matIconSuffix [for]="pickerArrival"></mat-datepicker-toggle>
            <mat-datepicker #pickerArrival></mat-datepicker>
        </mat-form-field>
    </div>
</ng-container>