button[mat-stroked-button] {
    border-radius: 50%;
    padding: 0 !important;
}

::ng-deep {
    .mat-mdc-outlined-button {
        min-width: unset !important;
        width: 1.7rem;
        height: 1.7rem !important;
    }
}

mat-icon {
    margin: 0 !important;
}