/* mat-card {
    max-width: 400px;
    min-width: 320px;
    width: fit-content;
} */

/* .side-card {
    max-width: 320px;
    cursor: pointer;
    opacity: 0.7;
}

.side-card:hover {
    opacity: 1;
    border-radius: 8px;
    border: 3px solid;
    border-color: theme('colors.indigo-700');
} */

.selected-step {
    background-color: theme('colors.secondary');
}