<div class="main h-screen md:flex md:flex-col md:justify-center md:p-8">
    <div class="w-full text-center p-2 mb-20 hidden md:block">
        <p class="text-6xl font-bold p-0 chewy-font tracking-wider text-primary">
            Route
            <mat-icon fontIcon="airline_stops" class="title-icon text-3xl -mx-4 text-5xl"></mat-icon>
            Mentor
        </p>
        <p class="text-2xl text-primary">Préparez vos vacances en quelques clics !</p>
    </div>
    <form [formGroup]="tripDetailsForm"
        class="w-full h-screen bg-gray-100 md:h-fit md:w-fit md:mx-auto md:p-4 md:p-8 md:bg-gray-100 md:rounded-xl md:border-2 md:border-sinary/75">
        <div class="w-full text-center p-2 md:hidden">
            <p class="flex flex-row items-center justify-center text-3xl font-bold m-0 chewy-font tracking-wider text-primary">
                Route
                <mat-icon fontIcon="airline_stops" class="title-icon text-3xl -mx-2"></mat-icon>
                Mentor
            </p>
            <p class="text-2xl text-primary">Préparez vos vacances en quelques clics !</p>
        </div>
        <div class="flex flex-col md:flex-row justify-center space-x-0 md:space-x-8">
            <app-trip-departure-arrival class="text-center"></app-trip-departure-arrival>
            <mat-divider [vertical]="true" class="hidden md:visible"></mat-divider>
            <div class="flex flex-row justify-center md:flex-col text-center md:space-y-2">
                <app-input-quantity label="Adulte(s)" [min]="1" controlName="nbAdults" class="mx-4 md:mx-8 h-fit block">
                </app-input-quantity>
                <app-input-quantity label="Enfant(s)" [min]="0" controlName="nbChild" class="mx-4 md:mx-8 h-fit block"></app-input-quantity>
            </div>
        </div>

        <div class="flex flex-col md:flex-row justify-center mt-8 space-x-0 md:space-x-8">
            <div class="text-center">
                <p class="text-lg md:text-xl">Mode de transport</p>
                <mat-form-field appearance="outline">
                    <span matPrefix class="mx-4">
                        <mat-icon fontIcon="commute"></mat-icon>
                    </span>
                    <mat-select formControlName="transports">
                        <mat-option [value]="transportType.Car">{{transportType.Car}}</mat-option>
                        <mat-option [value]="transportType.Van">{{transportType.Van}}</mat-option>
                        <mat-option [value]="transportType.CampingCar">{{transportType.CampingCar}}</mat-option>
                        <mat-option [value]="transportType.Train">{{transportType.Train}}</mat-option>
                        <mat-option [value]="transportType.Plane">{{transportType.Plane}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-divider [vertical]="true" class="hidden md:visible"></mat-divider>

            <div class="text-center">
                <p class="text-lg md:text-xl">Hébergement</p>
                <mat-form-field appearance="outline">
                    <span matPrefix class="mx-4">
                        <mat-icon fontIcon="gite"></mat-icon>
                    </span>
                    <mat-select [formControl]="tripDetailsForm.controls.hostings" multiple>
                        <mat-option [value]="hostingType.Hotel">Hôtel</mat-option>
                        <mat-option [value]="hostingType.YouthHotel">Auberge de jeunesse</mat-option>
                        <mat-option [value]="hostingType.OwnVehicle">Je possède un véhicule adapté</mat-option>
                        <mat-option [value]="hostingType.Camping">Camping</mat-option>
                        <mat-option [value]="hostingType.Rental">Locations (AirBnB, Booking, ..)</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-divider [vertical]="true" class="hidden md:visible"></mat-divider>

            <div class="text-center">
                <p class="text-lg md:text-xl">Centres d'intérêts</p>

                <mat-form-field appearance="outline">
                    <span matPrefix class="mx-4">
                        <mat-icon fontIcon="gite"></mat-icon>
                    </span>
                    <mat-select [formControl]="tripDetailsForm.controls.interests" multiple
                        placeholder="Qu'aimez-vous faire ?">
                        <mat-option [value]="interests.NAT">{{interests.NAT.split('(')[0]}}</mat-option>
                        <mat-option [value]="interests.CUL">{{interests.CUL.split('(')[0]}}</mat-option>
                        <mat-option [value]="interests.GAS">{{interests.GAS.split('(')[0]}}</mat-option>
                        <mat-option [value]="interests.VNO">{{interests.VNO.split('(')[0]}}</mat-option>
                        <mat-option [value]="interests.SPT">{{interests.SPT.split('(')[0]}}</mat-option>
                        <mat-option [value]="interests.DET">{{interests.DET.split('(')[0]}}</mat-option>
                        <mat-option [value]="interests.SHO">{{interests.SHO.split('(')[0]}}</mat-option>
                        <mat-option [value]="interests.EVS">{{interests.EVS.split('(')[0]}}</mat-option>
                        <mat-option [value]="interests.FAM">{{interests.FAM.split('(')[0]}}</mat-option>
                        <mat-option [value]="interests.ARC">{{interests.ARC.split('(')[0]}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="flex mt-4 md:mt-8">
            <div class="w-full text-center">
                <button aria-label="Préparer le roadtrip" mat-raised-button color="primary"
                    (click)="onClickSubmitButton()" [disabled]="tripDetailsForm.invalid" class="w-5/6 md:w-56 mb-2 mx-4">
                    <mat-icon class="font-bold">mode_of_travel</mat-icon>
                    <span class="">
                        C'est parti !
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>