<div class="main min-h-full h-full w-full md:flex md:flex-col md:justify-center">
    <div class="w-full text-center p-2 mb-8 hidden md:block">
        <p class="text-6xl font-bold p-0 chewy-font tracking-wider text-primary">
            Route
            <mat-icon fontIcon="airline_stops" class="title-icon text-3xl -mx-4 text-5xl"></mat-icon>
            Mentor
        </p>
        <p class="text-2xl text-primary">Votre roadtrip prêt en quelques clics !</p>
    </div>
    <form [formGroup]="tripDetailsForm"
        class="w-full h-full md:h-fit bg-gray-100/80 md:bg-gray-100 md:w-fit md:mx-auto p-4 md:p-8 md:rounded-xl md:border-2 md:border-sinary/75">
        <div class="w-full text-center p-2 md:hidden">
            <p class="text-xl text-primary chewy-font p-4">Votre roadtrip prêt en quelques clics !</p>
        </div>
        <div class="flex flex-col md:flex-row justify-center space-x-0 md:space-x-8">
            <app-trip-departure-arrival class="text-center"></app-trip-departure-arrival>
            <mat-divider [vertical]="true" class="hidden md:visible"></mat-divider>
            <div class="flex flex-row justify-center md:flex-col text-center md:space-y-2">
                <app-input-quantity label="Adulte(s)" [min]="1" controlName="nbAdults" class="mx-4 md:mx-8 h-fit block">
                </app-input-quantity>
                <app-input-quantity label="Enfant(s)" [min]="0" controlName="nbChild" class="mx-4 md:mx-8 h-fit block">
                </app-input-quantity>
            </div>
        </div>

        <div class="flex flex-col md:flex-row justify-center mt-8 space-x-0 md:space-x-8">
            <div class="text-center flex items-center justify-center">
                <mat-form-field appearance="outline">
                    <mat-label class="pl-2 font-bold">Mode de transport</mat-label>
                    <span matPrefix class="pl-2">
                        <mat-icon fontIcon="commute" class="text-quinary"></mat-icon>
                    </span>
                    <mat-select formControlName="transports">
                        <mat-option [value]="transportType.Car">{{transportType.Car}}</mat-option>
                        <mat-option [value]="transportType.Van">{{transportType.Van}}</mat-option>
                        <mat-option [value]="transportType.CampingCar">{{transportType.CampingCar}}</mat-option>
                        <mat-option [value]="transportType.Train">{{transportType.Train}}</mat-option>
                        <mat-option [value]="transportType.Plane">{{transportType.Plane}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-divider [vertical]="true" class="hidden md:visible"></mat-divider>

            <div class="text-center">
                <mat-form-field appearance="outline">
                    <mat-label class="pl-2 font-bold">Hébergement</mat-label>
                    <span matPrefix class="pl-2">
                        <mat-icon fontIcon="gite" class="text-quinary"></mat-icon>
                    </span>
                    <mat-select [formControl]="tripDetailsForm.controls.hostings" multiple>
                        <mat-option [value]="hostingType.Hotel">Hôtel</mat-option>
                        <mat-option [value]="hostingType.YouthHotel">Auberge de jeunesse</mat-option>
                        <mat-option [value]="hostingType.OwnVehicle">Je possède un véhicule adapté</mat-option>
                        <mat-option [value]="hostingType.Camping">Camping</mat-option>
                        <mat-option [value]="hostingType.Rental">Locations (AirBnB, Booking, ..)</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-divider [vertical]="true" class="hidden md:visible"></mat-divider>

            <div class="text-center">
                <mat-form-field appearance="outline">
                    <mat-label class="pl-2 font-bold">Centres d'intérêts</mat-label>
                    <span matPrefix class="pl-2">
                        <mat-icon fontIcon="gite" class="text-quinary"></mat-icon>
                    </span>
                    <mat-select [formControl]="tripDetailsForm.controls.interests" multiple>
                        <mat-option [value]="interests.NAT">
                            <mat-icon [fontIcon]="activityCategoryIcon.NAT"></mat-icon>
                            <span class="text-sm">{{interests.NAT.split('(')[0]}}</span>
                        </mat-option>
                        <mat-option [value]="interests.CUL">
                            <mat-icon [fontIcon]="activityCategoryIcon.CUL"></mat-icon>
                            <span class="text-sm">{{interests.CUL.split('(')[0]}}</span>
                        </mat-option>
                        <mat-option [value]="interests.GAS">
                            <mat-icon [fontIcon]="activityCategoryIcon.GAS"></mat-icon>
                            <span class="text-sm">{{interests.GAS.split('(')[0]}}</span>
                        </mat-option>
                        <mat-option [value]="interests.VNO">
                            <mat-icon [fontIcon]="activityCategoryIcon.VNO"></mat-icon>
                            <span class="text-sm">{{interests.VNO.split('(')[0]}}</span>
                        </mat-option>
                        <mat-option [value]="interests.SPT">
                            <mat-icon [fontIcon]="activityCategoryIcon.SPT"></mat-icon>
                            <span class="text-sm">{{interests.SPT.split('(')[0]}}</span>
                        </mat-option>
                        <mat-option [value]="interests.DET">
                            <mat-icon [fontIcon]="activityCategoryIcon.DET"></mat-icon>
                            <span class="text-sm">{{interests.DET.split('(')[0]}}</span>
                        </mat-option>
                        <mat-option [value]="interests.SHO">
                            <mat-icon [fontIcon]="activityCategoryIcon.SHO"></mat-icon>
                            <span class="text-sm">{{interests.SHO.split('(')[0]}}</span>
                        </mat-option>
                        <mat-option [value]="interests.EVS">
                            <mat-icon [fontIcon]="activityCategoryIcon.EVS"></mat-icon>
                            <span class="text-sm">{{interests.EVS.split('(')[0]}}</span>
                        </mat-option>
                        <mat-option [value]="interests.FAM">
                            <mat-icon [fontIcon]="activityCategoryIcon.FAM"></mat-icon>
                            <span class="text-sm">{{interests.FAM.split('(')[0]}}</span>
                        </mat-option>
                        <mat-option [value]="interests.ARC">
                            <mat-icon [fontIcon]="activityCategoryIcon.ARC"></mat-icon>
                            <span class="text-sm">{{interests.ARC.split('(')[0]}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="flex mt-4 md:mt-8">
            <div class="w-full text-center">
                <button aria-label="Préparer le roadtrip" mat-raised-button color="accent"
                    (click)="onClickSubmitButton()" [disabled]="tripDetailsForm.invalid"
                    class="w-5/6 md:w-56 mb-2 mx-4">
                    <mat-icon class="font-bold">mode_of_travel</mat-icon>
                    <span class="">
                        C'est parti !
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>