@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$toolbar-height: 4rem;

::ng-deep {
    mat-toolbar {
        height: $toolbar-height;

        .nav-spacer {
            display: flex;
            flex-grow: 2;
        }

        .buttons-container {
            flex-grow: 1;

            button {
                font-size: 1rem !important;

                &:hover {
                    mat-icon {
                        color: theme("colors.primary") !important;
                    }
                }

                mat-icon {
                    font-size: 1.5rem !important;
                    height: 1.5rem !important;
                    width: 1.5rem !important;
                }
            }
        }
    }

    mat-sidenav {
        button {
            justify-content: unset !important;
        }
    }


    .mdc-notched-outline__notch {
        border-right: 0px !important;
    }

    .mat-datepicker-toggle {
        color: theme('colors.quinary');
    }
}

.main-content {
    max-height: calc(100vh - $toolbar-height);
    height: calc(100vh - $toolbar-height);
}