/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(to bottom, #87CEFA, #FFFFFF);
    /* background: linear-gradient(to bottom, #FFB703, #98B427, #39A158, #008676, #006775, #2F4858);
    background: linear-gradient(to bottom,#008676, #006775); */

}