<mat-form-field appearance="outline">
    <mat-label class="pl-2 md:text-lg font-bold">
        {{isDeparture ? "Départ" : "Destination" }}
    </mat-label>
    <span matPrefix class="pl-2 md:px-4">
        <mat-icon [fontIcon]="isDeparture ? 'my_location' : 'pin_drop'" class="text-quinary"></mat-icon>
    </span>
    <input matInput aria-label="State" [matAutocomplete]="auto" (input)="searchModelChanged.next($event)">
    <mat-autocomplete #matAutoComplete autoActiveFirstOption="true" #auto="matAutocomplete"
        (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let result of results | async" [value]="result.cityName">
            <span>{{result.cityName}}</span>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>