<div class="text-center p-8">
    <div class="text-2xl mb-4">
        <mat-icon fontIcon="error" class="title-icon material-symbols-outlined"></mat-icon>
        <p>
            Projet expérimental en cours de développement
        </p>
    </div>
    <p class="text-md p-2 border-2">
        RouteMentor est un projet expérimental <span class="font-bold">utilisant l'intelligence artificielle
            GPT-3.5.</span>
        <br />
        Les étapes du roadtrip, les activités et toutes les informations affichées sont générées à l'aide de cette
        dernière.
        <br />
        <span class="font-bold">Les données affichées peuvent présenter des incohérences, voire des erreurs.</span>
    </p>

    <button mat-raised-button mat-dialog-close class="w-26" color="accent">
        <mat-icon class="font-bold text-white">done</mat-icon>
        <span class="text-white">
            J'ai compris
        </span>
    </button>
</div>